body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

.vehicle-info {
  position: absolute;
  font-family: sans-serif;
  margin-top: 2px;
  margin-left: 2px;
  padding: 2px;
  width: 200px;
  border: 2px solid black;
  font-size: 10px;
  color: #222;
  background-color: #fff;
  border-radius: 5px;
}